*{
   font-family: Verdana,sans-serif !important;
   overflow-x: hidden;
   line-height: 1.5;
}
#header{
   z-index: 50;
   position: fixed;
   width: 100%;
   background: #fff;
}
a.navbar-brand{
   margin: 0;
   padding: 8px 16px;
   font-size: 15px;
   letter-spacing: 4px;
}
a:hover{
   background-color: #ccc;
}
a.nav-link{
   padding: 8px 16px !important;
   font-size: 15px;
   letter-spacing: 4px;
   color: #000 !important;
}
nav.navbar{
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.imgBG{
   max-width: 100%;
   vertical-align:middle;
}
h1{
   font-family: "Segoe UI",Arial,sans-serif !important;
   overflow-y: hidden;
   padding: 4px 0 6px !important;
   font-size: 36px !important;
   font-weight: 400;
   margin: 10px 0;
   -webkit-margin-before: 0.67em;
   -webkit-margin-after: 0.67em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}
#textCenter{
   position: absolute;
   left: 50%;
   top: 50%;
   color: #f1f1f1 !important;
   margin-top: 20px;
   letter-spacing: 4px;
   font-size: 35.59px;
   transform: translate(-50%,-50%);
}
span.box{
   padding: 8px 16px 9px !important;
   background: #000;
   opacity: 0.75;
}
#textCenter>h1>span>b{
   font-family: "Segoe UI",Arial,sans-serif !important;
}
#textCenter>h1>span{
   font-family: "Segoe UI",Arial,sans-serif !important;
   font-weight: 400;
}
#project{
   position: relative;
   padding: 8px 30px 8.5px;
   font-size: 15px;
}
div>h3{
   padding-left: 16.5px !important;
}
h3{
   font-family: "Segoe UI",Arial,sans-serif !important;
   padding: 15px 0 15px 0 !important;
   font-size: 24px !important;
   overflow-y: hidden;
   margin: 10px 0 6px !important;
   font-weight: 400 !important;
   color: #000 !important;
   line-height: 0.95;
}
.topics{
   padding: 32px 0;
}
hr{
   opacity: 0.9;
   margin: 0 !important;
}
.title{
   color: white;
   position: absolute;
   padding: 8px 16px !important;
   overflow-y: hidden;
   background: #000;
}
.card{
   border : 0 !important;
   border-radius: 0 !important;
}
.card-img-top{
   border-top-left-radius:0 !important;
   border-top-right-radius:0 !important;
}
.imgColor{
   filter: grayscale(80%);
   -webkit-filter: grayscale(80%);
}
.col-lg-3.col-md-6.col-sm-6{
   padding: 0 8px !important;
   margin-bottom:16px !important
}
p{
   margin-top: 15px !important;
   padding-left: 1px;
}
div.card-body{
   padding: 0 0 15px 0 !important;
}
h5{
   font-family: "Segoe UI",Arial,sans-serif !important;
   font-weight: 400 !important;
   margin: 13px 0 19px !important;
   font-size: 24px !important;
   overflow-y: hidden;
}
small.text-muted{
   font-size: 15px !important;
}
p.card-text{
   overflow: hidden;
}
.btn-secondary{
   background-color: #f1f1f1 !important;
   color: #000 !important;
   border-color: #f1f1f1 !important;
   font-size: 15px !important;
}
a.btn{
   width: 100%;
   padding: 7px 0 !important;
   border-radius: 0 !important;
}
a.btn.btn-secondary:hover{
   background-color: #ccc !important;
}
button.btn{
   border-radius: 0 !important;
   background-color: #000 !important;
   border-color: #000 !important;
   margin: 16px 0 !important;
   font-size: 15px !important;
}
button.btn:hover{
   background-color: #ccc !important;
   color: #000 !important;
   border-color: #ccc !important;
}
input{
   border-radius: 0 !important;
   padding: 8px !important;
   font-size: 15px !important;
}
form>input{
   width: 100%;
   margin-bottom: 15px;
   font-size: 16px !important;
}
input.form-control:focus{
   -webkit-box-shadow: 0px 0px 2px 0px rgba(57,126,245,1) !important;
   -moz-box-shadow: 0px 0px 2px 0px rgba(57,126,245,1) !important;
   box-shadow: 0px 0px 2px 0px rgba(57,126,245,1) !important;
}
::-webkit-input-placeholder{
   font-size: 15px !important;
}
:-moz-placeholder{
   font-size: 15px !important;
}
::-moz-placeholder{
   font-size: 15px !important;
}
.map{
   filter: grayscale(80%);
   -webkit-filter: grayscale(80%);
}
iframe{
   pointer-events:none;
   position: relative;
   z-index: 300 !important;
}
img#poi{
   filter: grayscale(80%);
   -webkit-filter: grayscale(80%);
   position: relative;
   left: 49.1%;
   top: -275px;
   width: 27px;
   height: 43px;
}
.footer>p{
   padding: 16px 0;
   overflow: hidden;
}
.footer{
   overflow: hidden;
   font-size: 15px;
   margin-top: -49px;
}
p>a{
   color: #fff;
   text-decoration: underline;
}
p>a:hover{
   background: none;
   color: green;
}
@media (max-width:600px){
   .col-me{
      max-width: 600px !important;
      width: 100% !important;
      flex:0 0 100%!important;
   }
}
@media (min-width:601px) amd (max-width:993px) {
   .col-sm-6{
      max-width: 50%!important;
      flex:0 0 50%!important;
   }
}
.navbar-nav{
   flex-direction:row !important;
}
@media only screen and (max-width:600px) {
   .d-me-block{
      display: block !important;
   }
   .me-none{
      display: none !important;
   }
}
